html {
  font-family: $main-font, Arial, sans-serif;
}
%headings {
  font-weight: bold;
  margin: 0.5em 0 0.25em 0;
}
h1 {
  @extend %headings;
  font-size: $large-text;
}
h2 {
  @extend %headings;
  font-size: $medium-text;
}
p {
  font-size: $small-text;
  &.date {
    font-size: $tiny-text;
  }
}
button {
  &:hover {
    cursor: pointer;
  }
}